.column{
    text-align: center;
    width: 20%;
    padding: 10px;
}
.column:first-child {
    margin-left: 30x; /* Add margin to the left of the first column */
}
.column:not(:last-child) {
    margin-right: 20px; /* Add margin between each column except for the last one */
}
.row .column .content{
    text-align: center;
      background: rgb(0, 0, 0); /* Fallback color */
      background: rgba(38, 50, 216, 0.75); /* Black background with 0.5 opacity */
      color: #f1f1f1; /* Grey text */
      width: 100%; /* Full width */
      height: 65px;
      padding: 8px; /* Some padding */
      box-shadow: 0px 0px 8px -1px black;
}
center{
    font-size: large;
    color: rgb(73, 7, 134);
}
#svg{
    overflow: visible;
}
.separate{
    margin: 50px;
}
